.header {
  padding: 1em;
  box-sizing: border-box;
  width: 50vw;
  background-color: var(--color-dark);
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: var(--color-light);
}