.tab__input {
  width: 0;
  height: 0;
  clip-path: polygon(0 0);
}
/* checked or hover*/
.tab__label:has(> .tab__input:checked),
.tab__label:has(> .tab__input:hover) {
  background: var(--color-dark);
}

.tab__label:has(> .tab__input:checked) + .tab__content,
.tab__label:has(> .tab__input:hover) + .tab__content {
  padding: 1em;
  max-height: 100vh;
}
